<% title "#{AppSettings['settings.site_name']}: 500 Error" %>
<div class="error" style="height: 500px;">
<%= link_to image_tag("#{AppSettings['design.header_logo']}", width: 40, class: "logo"), root_url %>
<h2>
  Sorry there has been an error!
  <br/><small>We have been notified and will fix this soon.</small>
</h2>
</div>
